@font-face {
  font-family: 'rogerdean';
  src: url("webfont/rogdean.eot");
  /* IE9 Compat Modes */
  src: url("webfont/rogdean.eot?#iefix") format("embedded-opentype"), url("webfont/rogdean.woff") format("woff"), url("webfont/rogdean.ttf") format("truetype"), url("webfont/rogdean.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/*
FONT REFERENCE

font-family:'Ainslie W01 Norm Thin';
font-family:'Ainslie W01 Norm Thin Italic';
font-family:'Ainslie W01 Norm Light';
font-family:'Ainslie W01 Norm Light Italic';
font-family:'Ainslie W01 Norm Book';
font-family:'Ainslie W01 Norm Book Italic';
font-family:'Ainslie W01 Norm Regular';
font-family:'Ainslie W01 Norm Regular It';
font-family:'Ainslie W01 Norm Medium';
font-family:'Ainslie W01 Norm Medium Italic';
font-family:'Ainslie W01 Norm Demi';
font-family:'Ainslie W01 Norm Demi Italic';
font-family:'Ainslie W01 Norm Bold';
font-family:'Ainslie W01 Norm Bold Italic';
font-family:'Ainslie W01 Cond Light';
font-family:'Ainslie W01 Cond Thin';
font-family:'Ainslie W01 Cond Thin Italic';
font-family:'Ainslie W01 Cond Light Italic';
font-family:'Ainslie W01 Cond Book';
font-family:'Ainslie W01 Cond Book Italic';
font-family:'Ainslie W01 Cond Regular';
font-family:'Ainslie W01 Cond Regular It';
font-family:'Ainslie W01 Cond Medium';
font-family:'Ainslie W01 Cond Medium Italic';
font-family:'Ainslie W01 Cond Demi';
font-family:'Ainslie W01 Cond Demi Italic';
font-family:'Ainslie W01 Cond Bold';
font-family:'Ainslie W01 Cond Bold Italic';
font-family:'Ainslie W01 Ext Thin';
font-family:'Ainslie W01 Ext Thin Italic';
font-family:'Ainslie W01 Ext Light';
font-family:'Ainslie W01 Ext Light Italic';
font-family:'Ainslie W01 Ext Book';
font-family:'Ainslie W01 Ext Book Italic';
font-family:'Ainslie W01 Ext Regular';
font-family:'Ainslie W01 Ext Regular Italic';
font-family:'Ainslie W01 Ext Medium';
font-family:'Ainslie W01 Ext Medium Italic';
font-family:'Ainslie W01 Ext Demi';
font-family:'Ainslie W01 Ext Demi Italic';
font-family:'Ainslie W01 Ext Bold';
font-family:'Ainslie W01 Ext Bold Italic';
font-family:'Belshaw W01';
font-family:'Diablo W01';


*/
body {
  margin: 0;
  color: #efefef;
  font-family: 'Ainslie w01 Norm Bold', sans-serif; }
  body #game-bounds {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0%;
    margin: 0;
    background: #fff url("background.png") no-repeat;
    background-size: cover;
    background-position: 0px 100px; }
  body #header {
    background: -moz-linear-gradient(top, #2f3b5b 97%, rgba(2, 99, 139, 0.6) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2f3b5b 97%, rgba(2, 99, 139, 0.6) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2f3b5b 97%, rgba(2, 99, 139, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    /* IE6-9 */
    padding: 2% 25% 3% 25%;
    border-radius: 4px;
    box-shadow: 1px 1px 9px rgba(254, 205, 12, 0.2), -1px -1px 9px rgba(204, 43, 92, 0.2); }
    body #header h1 {
      font-family: "rogerdean";
      text-shadow: 1px 1px 1px #1f2e32;
      font-size: 3em;
      margin: 0em;
      background: white;
      color: black;
      position: relative;
      text-shadow: 1px 1px 0px #2f3b5b, 1px -1px 0px #2f3b5b, -1px -1px 0px #2f3b5b, -1px 1px 0px #2f3b5b; }
      body #header h1::before, body #header h1::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none; }
      body #header h1::before {
        background: linear-gradient(to top, #00a1b3, #cc2b5c, #fecd0c);
        content: '';
        display: block;
        mix-blend-mode: screen; }
      body #header h1::after {
        content: "Prog Music or RPG Soundtrack?";
        background: #2f3b5b;
        color: white;
        mix-blend-mode: multiply;
        text-shadow: 2px 2px 1px rgba(47, 182, 149, 0.9); }
  body #padding-wrapper {
    padding: 0;
    position: relative;
    height: 79%; }
    body #padding-wrapper #inner-wrapper {
      background: rgba(236, 236, 230, 0.9);
      border-radius: 5px;
      border: 1px solid rgba(30, 115, 104, 0.9);
      margin: 10% 25%;
      box-shadow: 1px 1px 7px rgba(45, 85, 85, 0.3); }
      body #padding-wrapper #inner-wrapper h2 {
        text-shadow: 0px 1px 4px #1f2e32, 2px 2px 12px rgba(0, 0, 0, 0.5);
        font-family: 'Ainslie w01 Norm Bold';
        font-size: 1.7em;
        text-transform: uppercase;
        background: rgba(47, 182, 149, 0.77);
        margin: 0;
        padding: 4% 0;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid rgba(30, 115, 104, 0.2);
        color: rgba(255, 255, 245, 0.98); }
      body #padding-wrapper #inner-wrapper section {
        width: 100%;
        display: none;
        position: relative; }
        body #padding-wrapper #inner-wrapper section audio {
          display: none; }
        body #padding-wrapper #inner-wrapper section audio::-webkit-media-controls-panel {
          padding: 20px; }
        body #padding-wrapper #inner-wrapper section audio::-webkit-media-controls-play-button {
          padding: 50px; }
        body #padding-wrapper #inner-wrapper section #audioplayer {
          width: 56%;
          margin: 0 auto;
          position: relative;
          height: auto;
          display: block;
          background: rgba(255, 255, 255, 0.8);
          padding: 2%;
          min-height: 60px;
          margin-top: 8%;
          box-shadow: 0px 0px 6px rgba(30, 115, 104, 0.2); }
          body #padding-wrapper #inner-wrapper section #audioplayer button {
            border: none;
            background: transparent;
            position: absolute;
            top: 12%;
            left: 14%;
            height: 60px;
            width: 60px;
            cursor: pointer; }
          body #padding-wrapper #inner-wrapper section #audioplayer button:focus {
            outline: 0 !important; }
          body #padding-wrapper #inner-wrapper section #audioplayer .play {
            overflow: hidden;
            box-shadow: -17px 0px 10px -20px rgba(0, 0, 0, 0.6); }
          body #padding-wrapper #inner-wrapper section #audioplayer .play:after {
            content: "";
            position: absolute;
            width: 50%;
            height: 50%;
            background: rgba(47, 182, 149, 0.9);
            transform: rotate(45deg);
            /* Prefixes... */
            top: 25%;
            right: 75%;
            box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.6); }
          body #padding-wrapper #inner-wrapper section #audioplayer .pause span {
            transform: rotate(90deg); }
          body #padding-wrapper #inner-wrapper section #audioplayer .pause span,
          body #padding-wrapper #inner-wrapper section #audioplayer .pause span:before {
            cursor: pointer;
            border-radius: 3px;
            height: 11px;
            width: 37px;
            background: rgba(47, 182, 149, 0.9);
            position: absolute;
            left: -13px;
            display: block;
            content: '';
            border: none;
            margin-top: -8px;
            top: 33px; }
          body #padding-wrapper #inner-wrapper section #audioplayer .pause span:before {
            top: -10px;
            left: 0; }
          body #padding-wrapper #inner-wrapper section #audioplayer #volume_control {
            position: absolute;
            right: 12%;
            width: 58%;
            top: 25%; }
            body #padding-wrapper #inner-wrapper section #audioplayer #volume_control label {
              color: rgba(255, 255, 245, 0.98);
              text-shadow: 1px 1px 24px rgba(45, 85, 85, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.3);
              text-transform: uppercase;
              font-size: 1.2em; }
      body #padding-wrapper #inner-wrapper #buttons {
        width: 92%;
        padding: 4%;
        display: none; }
        body #padding-wrapper #inner-wrapper #buttons button {
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          color: rgba(255, 255, 245, 0.98);
          text-transform: uppercase;
          padding: 3.5% 8%;
          margin: 5%;
          box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
          font-size: 1.7em;
          font-family: 'Diablo W01', sans-serif;
          font-weight: 200;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
          outline: none; }
        body #padding-wrapper #inner-wrapper #buttons button:focus {
          outline: 0 !important; }
        body #padding-wrapper #inner-wrapper #buttons .prog {
          background: #00a1b3;
          /* Old browsers */
          background: -moz-linear-gradient(top, #00a1b3 0%, #cc2b5c 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #00a1b3 0%, #cc2b5c 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #00a1b3 0%, #cc2b5c 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a1b3', endColorstr='#cc2b5c',GradientType=0 );
          /* IE6-9 */ }
        body #padding-wrapper #inner-wrapper #buttons .rpg {
          background: #cc2b5c;
          /* Old browsers */
          background: -moz-linear-gradient(top, #cc2b5c 1%, #fecd0c 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #cc2b5c 1%, #fecd0c 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #cc2b5c 1%, #fecd0c 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2b5c', endColorstr='#fecd0c',GradientType=0 );
          /* IE6-9 */ }
  body #result {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 99; }
    body #result #result-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 70%;
      background-color: #ececec;
      box-shadow: 0px 0px 5px #666;
      border-radius: 3px; }
      body #result #result-container #results-inner {
        text-transform: uppercase;
        color: rgba(255, 255, 245, 0.98);
        text-shadow: 1px 1px 24px rgba(45, 85, 85, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.3);
        padding: 8% 3%; }
        body #result #result-container #results-inner .cover {
          display: block;
          margin: 0 auto;
          max-width: 87%; }
          body #result #result-container #results-inner .cover img {
            width: 100%;
            margin: 0 auto;
            box-shadow: 0px 0px 6px #666; }
        body #result #result-container #results-inner p {
          padding: 0 6%; }
      body #result #result-container button {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 4px 4px;
        color: rgba(255, 255, 245, 0.98);
        text-transform: uppercase;
        padding: 3.5% 8%;
        margin: 0 auto;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
        font-size: 1.7em;
        font-family: 'Diablo W01', sans-serif;
        font-weight: 200;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
        outline: none;
        background: rgba(47, 182, 149, 0.9);
        width: 100%;
        position: absolute;
        bottom: 0; }
  body #finished {
    display: none; }
  body .active {
    display: block !important; }

/*# sourceMappingURL=styles.css.map */
